@import 
    '../scss/utils/variables';
    
    // @import
    //     '../scss/vendors/';
    
    @import
    '../scss/base/media-queries',
    '../scss/base/reset';

    @import
    '../scss/components/gallery';

// @import
//     '../scss/pages/';

// @import
//     '../scss/themes/';

body {
    background-color: pink;
}

.header-mockup {
    background-color: purple;
    height: 800px;
}

.talent {

}
